* {
  font-family: Open Sans, sans-serif;
}

body {
  margin: 0;
}

input {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 20px;
  margin-bottom: 30px;
}


button {
  outline: none;
}

h1 {
  text-align: center;
  font-size: 42px;
  color: #FFFFFF;
}

h2 {
  color: #455A64;
  margin: 0;
}

h5 {
  color: #FFFFFF;
  display: inline-block;
  width: 48%;
  text-align: center;
}

.submit-button {
  width: 100%;
  height: 38px;
  background-color: #FFC107;
  border-radius: 0;
  font-size: 20px;
  font-weight: 800;
  color: #FFFFFF;
  padding: 0;
  outline: none;
  border: 0;
}

.input-block {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.section-1 {
  position: fixed;
  display: inline-block;
  width: 50%;
  min-height: 100vh;
  background-color: #455A64;
}

.section-2 {
  float: right;
  position: relative;
  width: 50%;
  min-height: 100vh;
  background-color: #CFD8DC;
}

.bookmark {
  border: 1px solid #607D8B;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  background-color: #FFFFFF;
  padding: 10px;
}

.bookmark-1 {
  border: 1px solid #607D8B;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  width: 80%;
  background-color: #FFFFFF;
  padding: 10px;
}


.read{

/*.bookmark-1 .read{
  background-color: #F2F4F4;
}*/

.logo {
  height: 70px;
  width: 70px;
  position: relative;
  top: 20px;
  margin-right:10px;
}

.link-button {
  border:0;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  color: #455A64;
  outline: none;
}

.link-button:hover {
  font-weight: 800;
  text-decoration-color: #FFC107;
}


h2 {
  color: #455A64;
  margin: 0;
}

.read {
  background-color: #F2F4F4;
}

.website-link {
  color: #CFD8DC;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.website-link:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.read .website-link {
  text-decoration-color: #CFD8DC;
}


.read #read-button{
  color: #F05A28;
  background-color: #F2F4F4;
  font-weight: 800;

.read #read-button {
  color: #F05A28;
  background-color: #F2F4F4;

}

.read #delete-button {
  background-color: #F2F4F4;
}


.website-url,
.website-name-input {
  outline: none;
}


#delete-button {
  float: right;
  outline: none;
  }