* {
  font-family: Open Sans, sans-serif;
}

body {
  margin: 0;
}
section {
  /*display: inline-block;*/
}

input {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 20px;
  margin-bottom: 30px;
}


h1 {
  text-align: center;
  font-size: 42px;
  color: #FFFFFF;

}

.submit-button {
  width: 100%;
  height: 38px;
  background-color: #FFC107;
  border-radius: 0;
  font-size: 20px;
  color: #FFFFFF;
  padding: 0;
}

.input-block {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}


.section-1 {
  display: inline-block;
  width: 50%;
  height: 100vh;
  background-color: #455A64;
  display: inline-block;
}

.section-2 {
  float: right;
  /*display: inline-block;*/
  width: 50%;
  height: 100vh;
  background-color: #CFD8DC;
}

.bookmark-1 {
  border: 1px solid #607D8B;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.logo {
  height: 70px;
  width: 70px;
  position: relative;
  top: 20px;
  margin-right:10px;
}